.flex {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.h-70 {
    height: 70vh;
} 

.h-30 {
    height: 30vh;
}

.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.size{
    font-size: 1.2rem;
}